!!!
%html{lang: "ja"}
  %head
    %meta{charset: "utf-8"}
    %link
  %body
    %header
      %p.header__menu グループを作成しました
    %div.sideBar
      %div.sideBar__user
        %p.sideBar__userName test
      %div.sideBar__group
        %p.sideBar__groupName1 test-group
        %p.sideBar__groupName__message1 Hello
        %p.sideBar__groupName2 test-group
        %p.sideBar__groupName__message2 Good afternoon
        %p.sideBar__groupName3 example
        %p.sideBar__groupName__message3 まだメッセージがありません

