%header
  %p.header__menu グループを作成しました。
.sideBar
  .sideBar__user
    %p.sideBar__user__name 
      = current_user.name
      = link_to new_group_path do
        %i.fa.fa-cog
      = link_to do 
        %i.fa.fa-edit
    
  .sideBar__group
    .sideBar__group-margin
      %p.sideBar__group__name1 test-group
      %p.sideBar__group__message1 Hello
      %p.sideBar__group__name2 test-group
      %p.sideBar__group__message2 Good afternoon
      %p.sideBar__group__name3 example
      %p.sideBar__group__message3 まだメッセージがありません
  
.groupBox
  .groupBox__member
    %p.groupbox__member__edit Edit
    %p.groupBox__member__title test-group
    %p.groupBox__member__name Members:
  .groupBox__chat
    %p.groupBox__chat__user test-user 
    %p.groupBox__chat__message こんにちは！
  .groupBox__footer
    %p.groupBox__footer__sendButton Send
    %p.groupBox__footer__white 
      type a message
      %form_tag
        %label.groupBox__footer__fileSend
          %i.fa.fa-image
            %input#fileSend{:type => "file"}
