!!!
%html{lang: "ja"}
  %head
    %meta{charset: "utf-8"}
    %link
  %body
    %header
      %p.header__menu グループを作成しました 

    %div.sideBar
      %div.sideBar__user
        %p.sideBar__user__name test
        = link_to do 
          %i.fa.fa-cog
      %div.sideBar__group
        %div.sideBar__group-margin
          %p.sideBar__group__name1 test-group
          %p.sideBar__group__message1 Hello
          %p.sideBar__group__name2 test-group
          %p.sideBar__group__message2 Good afternoon
          %p.sideBar__group__name3 example
          %p.sideBar__group__message3 まだメッセージがありません
      
    %div.groupBox
      %div.groupBox__member
        %p.groupbox__member__edit Edit
        %p.groupBox__member__title test-group
        %p.groupBox__member__name Members:
      %div.groupBox__chat
        %p.groupBox__chat__user test-user 
        %p.groupBox__chat__message こんにちは！
      %ul.groupBox__footer
        %li.groupBox__footer__sendButton Send
        %li.groupBox__footer__white type a message
        
          
      
      

