.side-bar {
  box-sizing: border-box;
  color: $white;
  width: 300px;
  .header {
    background-color: $side_blue_dark;
    height: 100px;
    line-height: 100px;
    padding: 0 20px;
    &__name {
      display: inline-block;
      font-size: $side_header_font;
      font-weight: bold;
    }
    &__lists {
      display: inline-block;
      float: right;
      .list {
        display: inline-block;
      }
      .icon {
        color: $white;
        font-size: $side_header_font;
      }
    }
  }

  .groups {
    background-color: $side_blue_light;
    height: calc(100vh - 100px);
    padding: 0 20px;
    .group {
      box-sizing: border-box;
      padding: 20px 0 40px;
      &__name {
        font-size: $side_group_name;
      }
      &__message {
        font-size: $side_group_message;
        margin-top: 5px;
      }
    }
  }
}

.chat {
  width: calc(100% - 300px);
  .header {
    box-sizing: border-box;
    height: 100px;
    padding: 0 40px;
    .left-header {
      float: left;
      &__title {
        color: #333;
        font-size: 20px;
        margin-top: 35px;
      }
      &__members {
        color: #999;
        display: flex;
        font-size: 12px;
        margin-top: 15px;
        .member {
          display: inline-block;
          padding-right: 5px;
        }
      }
    }
    .right-header {
      border: 1px solid $light_blue;
      color: $light_blue;
      float: right;
      height: 40px;
      line-height: 40px;
      margin-top: 28px;
      padding: 0 20px;
    }
  }

}

/* haml,scss書き直し前はgitを参照

//サイドバー部分ここから
  //サイドバー上部分ここから
.sideBar {
  float: left;
  width: 300px;
  height: 100%;
  background-color: $sideBarUserColor;
  color: #FFFFFF;

  &__user {
    background-color: $sideBarGroupColor;
    height: 100px;
    line-height: 100px;
    padding: 0 20px;

    &__name {
      font-size: 16px;
      font-weight: bold;
    }
        //アイコン部分ここから
    .fa.fa-edit {
      color: #FFFFFF;
      float: right;
      line-height: 100px;
      margin-right: 5px;
    }
    .fa.fa-cog {
      color: #FFFFFF;
      float: right;
      line-height: 100px;
    }
    //アイコン部分ここまで
  }

  //サイドバー上部分ここまで
    //以下、処理が似ている部分はネスト考えてみる
  //サイドバー下部分ここから
  &__group {
    height: calc(100vh - 100px);
    padding: 0 20px;

    &-margin {
      box-sizing: border-box;
      padding: 20px 0 40px;

      &__name {
        color: #FFFFFF; 
        font-size: 15px;
      }
      &__message {
        color: #FFFFFF; 
        font-size: 11px;
        margin-top: 5px;
      }
    }
  }
}
  //サイドバー下部分ここまで
//サイドバー部分ここまで

//チャット画面ここから
  //チャット画面上部分ここから
.groupBox {
  float: right;
  height: 100%;
  // width: calc(100vw-300px);
  // background-color: #fafafafa;
  
  &__member {
    // padding-left: 340px;
    background-color: white;
    border-bottom-style: solid;
    border-bottom-color: #eeeeee;
    height: 100px;

    &__title {
      padding-top: 35px;
      padding-bottom: 15px;
      color: #333333;
      font-size: 20px;
    }
    &__name {
      font-size: 12px;
    }
    p.groupbox__member__edit {
      float: right;
      position: relative;
      margin-top: 28px;
      margin-right: 40px;
      height: 40px; 
      padding: 0 20px;
      color: $partsColor;
      border: thin;
      border-style: solid;
      border-color: $partsColor;
      line-height: 40px;
    }

    .edit__button {
      text-decoration: none;
      color: $partsColor;
    }
  }
    //チャット画面上部分ここまで

    //チャット画面中央部分ここから
  
    .messages {
      background-color: #FAFAFA;
      // padding: 46px 40px 0;
      height: calc(100% - 190px);
      width: 100%;
      overflow: scroll;
      -webkit-overflow-scrolling: touch;
      .message {
        .upper-message {
          display: flex;
          &__user-name {
            color: black;
            font-size: 16px;
            font-weight: bold;
          }
          &__date {
            color: lightgray;
            font-size: 12px;
            padding-left: 10px;
          }
        }
        .lower-message {
          margin-top: 10px;
          &__content {
            color: black;
            font-size: 14px;
            margin-bottom: 40px;
          }
        }
      }
    }


    //チャット画面中央部分ここまで

    //チャット画面下部ここから
  .groupBox__footer {
    height: 90px;
    width: 100%;
    background-color: gray;

    .form__submit {
      height: 50px;
      width: 100px;
      margin-left: 15px;
      margin-bottom: 10px;
      color: white;
      background-color: $partsColor;
      line-height: 50px;
      text-align: center;
    }
    &__white {
      background-color: white;
      // width: 73%;
      height: 50px;
      margin-top: 10px;
      // margin-left: 340px;
      margin-bottom: 10px;
      padding-left: 10px;
      font-size: 16px;
      color: #434A54;
      line-height: 50px;
    }
  
    .form__message {
      // width: 50%;
      border: none;
    }

    .form__mask {
      float: right;

      .icon {
        width: 20px;
        height: 20px;
      }

      .hidden {
        display: none;
      }
    }

    &__fileSend {
      margin-right: 10px;
    }
    #fileSend {
      display: none;
    }
  }
    //チャット画面下部ここまで
  //チャット画面ここまで
}*/

