@import "./reset";
@import "./variable";

//ヘッダー部分ここから
header {
  p.header__menu {
    background-color: $partsColor;
    color:   #FFFFFF;
    text-align: center;
  }
}
//ヘッダーここまで

//サイドバー部分ここから
  //サイドバー上部分ここから
.sideBar {
  float: left;
  width: 300px;
  height: 100vh;
  background-color: $sideBarGroupColor;
  color: #FFFFFF;
  font-weight: bold;

  .sideBar__user {
    background-color: $sideBarUserColor;

    p.sideBar__user__name {
      font-size: 16px;
      margin-left: 20px;
      margin-right: 20px;
      padding-top: 25px;
      padding-bottom: 25px;
    }
  }
  //サイドバー上部分ここまで
    //以下、処理が似ている部分はネスト考えてみる
  //サイドバー下部分ここから
  .sideBar__group-margin {
    margin-left: 20px;
    margin-right: 20px;

    .sideBar__group__name1 {
      font-size: 15px;
      padding-top: 20px;
      padding-bottom: 5px;
    }
    .sideBar__group__message1 {
      font-size: 11px;
    }
    .sideBar__group__name2 {
      font-size: 15px;
      padding-top: 20px;
      padding-bottom: 5px;
    }
    .sideBar__group__message2 {
      font-size: 11px;
    }
    .sideBar__group__name3 {
      font-size: 15px;
      padding-top: 20px;
      padding-bottom: 5px;
    }
    .sideBar__group__message3 {
      font-size: 11px;
    }
  }
}
  //サイドバー下部分ここまで
//サイドバー部分ここまで